.\#*
\#*
*~
*.html
*.tex
*scrap*
clean

# C/C++
**.o
**.elf
**.hex
**.d

# CxxTest
**runner*

# Latex Minted Artifacts
**_minted-*

# Don't exclude kicad cache files, it breaks custom parts
## Cache
#*cache*

# FreeCad
**.FCStd1