.\#*
\#*
**~*
*.html
*.tex
*scrap*
clean

**CMakeFiles
**CMakeCache.txt
**cmake_install.cmake

# C/C++
**.o
**.elf
**.hex
**.d

# CxxTest
**runner*

# Latex Minted Artifacts
**_minted-*

# Don't exclude kicad cache files, it breaks custom parts
## Cache
#*cache*

# FreeCad
**.FCStd1

**__pycache__

# Datasets
data