[submodule "frostCAD"]
	path = frostCAD
	url = https://github.com/LewisCollum/frostCAD
[submodule "frostPower"]
	path = frostPower
	url = https://github.com/LewisCollum/frostPower.git
[submodule "frostAVR"]
	path = frostAVR
	url = https://github.com/LewisCollum/frostAVR
[submodule "frostCV"]
	path = frostCV
	url = https://github.com/LewisCollum/frostCV
