<!DOCTYPE HTML>
<html>
  <head>
    <title>FrostAV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"></link>
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{url_for('static', filename='buttonSidePanel/ButtonCategory.js')}}"></script>
    <script src="{{url_for('static', filename='buttonSidePanel/RadioButtonCategory.js')}}"></script>
    <script src="{{url_for('static', filename='buttonSidePanel/ToggleButtonCategory.js')}}"></script>
    <script src="{{url_for('static', filename='buttonSidePanel/Panel.js')}}"></script>
    <script src="{{url_for('static', filename='buttonSidePanel/PanelOpenButton.js')}}"></script>    
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='buttonSidePanel/PanelOpenButton.css')}}"></link>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='buttonSidePanel/Panel.css')}}"></link>    
  </head>
  <body>
    <div id="topNavigation" class="sticky">
      <a href="#camera" style="background-color:#5050A0">Camera</a>
      <a href="#pi">RPi</a>
      <a href="#psu">PSU</a>      
    </div>
    
    <section id="camera">
      <div class="container" id="cameraContainer">
        <img id="camera" src="{{ url_for('imageStream') }}"></img>
      </div>
      <div id="control" class="container" style="height:150px">
      </div>
    </section>

    <script src="{{url_for('static', filename='main.js')}}"></script>

    <section id="pi">
      <header>
        <h2>RPi</h2>
      </header>
      <div class="across">
        <li id="gpuCelsiusText"></li>
        <li id="cpuCelsiusText"></li>
      </div>
      <div id="chart-load" class="container"></div>
      <div id="chart-mem" class="container"></div> 
      <div id="chart-temperature" class="container"></div>
    </section>

    <section id="psu">
      <header>
        <h2>Power Supply</h2>
      </header>
      <div id="chart-power" class="container"></div>
      <div id="chart-voltage" class="container"></div>
      <div id="chart-current" class="container"></div>
      <script src="{{url_for('static', filename='chartSetup.js')}}"></script>
      <script src="{{url_for('static', filename='update_stats.js')}}"></script>
    </section>
  </body>
</html>
